* {
    box-sizing: border-box;
}

.site-container {
    .bg-img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 340px;
        background-image: url("/images/bg-desktop-dark.jpg");
        background-repeat: no-repeat;    
        background-size: cover;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 540px;
        margin: 0 auto;
        margin-top: 100px;

        .theme-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 20px;
             
            h1{
                font-size: 60px;
                color: $pale-grey;
                font-family: $primary-font;
                letter-spacing: 15px;
                
                @media only screen and (max-width: 600px) {
                    margin-left: 10px;
                }
            }

            svg {
                font-size: 30px;
                fill: white;
                cursor: pointer;

                @media only screen and (max-width: 600px) {
                    margin-right: theme-wrapper10px;
                }
            }

            .dark {
                display: none;
            }
        }

        .input-wrapper {
            position: relative;
            margin-top: 36px;
            width: 100%;
            margin-bottom: 40px;

                .main-input {
                width: 100%;
                padding: 16px 0px 16px 14px;
                background: $tab-background;
                border: none;
                color: $font-color;
                font-size: 18px;
                font-weight: 400;
                border-radius: 8px;
                font-family: $primary-font;
                padding-top: 22px;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
        }
    }

    .app-list-wrapper {
        max-width: 540px;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        .app-list {
            position: relative;
            margin: 0 auto;
            padding: 16px 0px 16px 60px;
            background: $tab-background;
            border: none;
            color: $font-color;
            font-size: 20px;
            font-weight: 400;
            border-bottom: 1px solid hsl(233, 10%, 25%);
            font-family: $primary-font;
            
            &:hover {
                .close-tab {
                display: block;
                position: absolute;
                right: 20px;
                }
            }
    
            &:first-of-type {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
    
            .close-tab {
                display: none;
            }
    
            
            .circle-selector {
                z-index: 1;
                position: absolute;
                width: 26px;
                height: 26px;
                border: 3px solid  hsl(233, 14%, 35%);
                border-radius: 50px;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.2s all ease-in-out;
    
                &:hover {
                    border: 3px solid  hsl(233, 11%, 84%);
                }
            }
        }
    }


    .action-buttons {
        display: none;
        position: relative;
        margin: 0 auto;
        width: 100%;
        padding: 16px;
        background: $tab-background;
        border: none;
        color: $font-color;
        font-size: 20px;
        font-weight: 400;
        font-family: $primary-font;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        justify-content: space-between;

        .common {
            background: transparent;
            border: none;
            color: $checked-bg;
            font-family: $primary-font;
            font-size: 16px;
            cursor: pointer;
            transition: 0.2s all ease-in-out;

            &:hover {
                color: $font-color;
            }
        }

        span {
            margin-right: 8px;
        }

        @media only screen and (max-width: 600px) {
            flex-direction: column;
            align-items: center;

            .center-separator {
                padding: 10px 0;
            }
        }
    }

    .close-tab {
        font-size: 24px;
        color: $checked-bg;
        font-weight: 600;
        font-family: $primary-font;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: 0.2s all ease-in-out;

        &:hover {
            color: $font-color;
        }
    }
}

.display {
    display: flex !important;
}

.active-checked {
    background: linear-gradient(139deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
    
    & + span {
        position: relative;
        color: rgba( $font-color,  0.3);

        &::after {
            content: "";
            background-color: rgba( $font-color,  0.3);
            width: 100%;
            position: absolute;
            height: 3px;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            
        }
    }

    
}